name: simple_clock
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  flutter_launcher_icons: ^0.13.1  # Updated version

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon/clock_icon.png"
  remove_alpha_ios: true  # Remove alpha channel for iOS

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
  
  fonts:
    - family: Lato
      fonts:
        - asset: assets/fonts/Lato-Bold.ttf
